name: Basic Checks

on:
  pull_request:
  push:

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
      - name: Compile
        run: javac $(find . -name "*.java")
