name: Basic Checks

on:
  push:
  pull_request:

jobs:
  run-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Compile all Java files
        run: |
          find . -name "*.java" > sources.txt
          javac @sources.txt

